@using Application.Dtos
@using Application.Interfaces.IService
@using System.Linq.Expressions
@using EmployeePortal.Services
@inject IEmployeeService _employeeService
@inject IDepartmentService _department
@inject SpinnerService spinnerService

<style>
    .modal-overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0,0,0,0.4);
       
      
        z-index: 1000;
        display: flex; /* 🔥 THIS WAS MISSING */
        justify-content: center; /* horizontal center */
        align-items: center;
    }

    .modal-box {
        background: #f1f3f5;
        padding: 20px;
        border-radius: 12px;
        width: 700px;
        max-width: 90%; /* responsive */

        max-height: 85vh; /* 🔥 limit height */
        overflow-y: auto; /* scroll if needed */
    }

    .modal-title {
        text-align: center;
        margin-bottom: 15px;
        font-weight: 600;
    }

    .form-group {
        margin-bottom: 12px;
    }

    select.form-control {
        appearance: auto; /* restore default arrow */
        -webkit-appearance: auto;
        -moz-appearance: auto;
    }

    .form-control {
        width: 100%;
        padding: 8px;
        border-radius: 6px;
        border: 1px solid #ccc;
        min-height:42px;
    }

    .modal-actions {
        display: flex;
        justify-content: flex-end;
        gap: 10px;
        margin-top: 15px;
    }

    .btn-cancel {
        background: #6c757d;
        color: white;
        border: none;
        padding: 8px 14px;
        border-radius: 6px;
    }

    .btn-create {
        background: #2c3e50;
        color: white;
        border: none;
        padding: 8px 14px;
        border-radius: 6px;
    }
    .form-row {
        display: flex;
        gap: 12px;
    }

        .form-row .form-group {
            flex: 1;
        }
    

   


    .image-group {
        display: flex;
        flex-direction: column;
    }

    .image-container {
        display: flex;
        align-items: center;
        gap: 15px;
    }

    .image-preview-wrapper {
        width: 120px;
        height: 120px;
    }

    .preview-img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        object-fit: contain;
        background: #fff;
        border: 2px solid #ccc;
    }

    .placeholder {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        background: #e9ecef;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #6c757d;
        font-size: 12px;
        border: 2px dashed #ccc;
    }

    .file-input {
        flex: 1;
    }
</style>

<div class="modal-overlay" >
    <div class="modal-box">

        <h4 class="modal-title">Add New Employee</h4>

        <EditForm EditContext="editContextEmployee" OnSubmit="Save">

            <!-- First Name -->
            <div class="form-row">
                
            <div class="form-group">
                    <label>First Name <span class="text-danger">*</span></label>
                <InputText class="form-control" @bind-Value="addEmployee.FirstName" placeholder="Enter first name" 
                               @bind-Value:after=@(() => ValidateParticularInput(() => addEmployee.FirstName, nameof(addEmployee.FirstName), "FirstName is Required")) />
                    <ValidationMessage For="() => addEmployee.FirstName" />
            </div>

            <!-- Last Name -->
            <div class="form-group">
                    <label>Last Name</label>
                <InputText class="form-control" @bind-Value=addEmployee.LastName" placeholder="Enter last name" />
            </div>
            </div>
             <div class="form-row">
            <!-- Phone -->
            <div class="form-group">
                    <label>Phone<span class="text-danger">*</span></label>
                <InputText class="form-control" @bind-Value="addEmployee.Phone" placeholder="Enter phone number"
                               @bind-Value:after=@(() => ValidateParticularInput(() => addEmployee.Phone, nameof(addEmployee.Phone), "Phone number is Required")) />
                    <ValidationMessage For="() => addEmployee.Phone" />
            </div>


                <div class="form-group">
                    <label>Role<span class="text-danger">*</span></label>
                    <InputSelect class="form-control" @bind-Value="addEmployee.Role"
                                 @bind-Value:after=@(() => ValidateParticularInput(() => addEmployee.Role, nameof(addEmployee.Role), "Select role"))>
                        <option value="">Select role</option>
                        @foreach (var role in roles)
                        {
                            <option value="@role.Name">@role.Name</option>
                        }
                    </InputSelect>
                    <ValidationMessage For="() => addEmployee.Role" />
                </div>
                @if (addEmployee.Role =="Employee")
                {
                    <!-- Manager -->
                    <div class="form-group">
                        <label>Manager<span class="text-danger">*</span></label>
                        <InputSelect class="form-control" @bind-Value="addEmployee.ManagerId"
                                     @bind-Value:after=@(() => ValidateParticularInput(() => addEmployee.ManagerId, nameof(addEmployee.ManagerId), "Select manager"))>
                            <option value="">Select manager</option>
                            @foreach (var mgr in managers)
                            {
                                <option value="@mgr.Id">@mgr.FullName</option>
                            }
                        </InputSelect>
                        <ValidationMessage For="() => addEmployee.ManagerId" />
                    </div>
                }
            </div>
            <!-- Address -->
            <div class="form-group">
                <label>Address<span class="text-danger">*</span></label>
                <InputTextArea class="form-control" @bind-Value="addEmployee.Address" placeholder="Enter address" 
                               @bind-Value:after=@(() => ValidateParticularInput(() => addEmployee.Address, nameof(addEmployee.Address), "Address is Required")) />
                <ValidationMessage For="() => addEmployee.Address" />
            </div>

            
             <div class="form-row">
            

                <!-- Department -->
                <div class="form-group  ">
                    <label>Department <span class="text-danger">*</span></label>
                    <div class="d-flex  align-items-center gap-2">
                        <div class="flex-grow-1">
                    <InputSelect class="form-control w-100" @bind-Value="addEmployee.DepartmentId"
                                 @bind-Value:after=@(() => ValidateParticularInput(() => addEmployee.DepartmentId, nameof(addEmployee.DepartmentId), "Select department"))>
                        <option value="">Select department</option>
                        @foreach (var dept in departments)
                        {
                            <option value="@dept.Id">@dept.Name</option>
                        }
                    </InputSelect>

                    </div>
                        @if (userRole == "Admin")
                        {
                            <div>
                                <button type="button" class="btn-create" @onclick="OpenDepartmentModal">+</button>
                            </div>
                        }
                        <ValidationMessage For="() => addEmployee.DepartmentId" />
                    </div>
                </div>
               
                <!-- Designation -->
                <div class="form-group">
                    <label>Designation <span class="text-danger">*</span></label>
                    <div class="d-flex  align-items-center gap-2">
                        <div class="flex-grow-1">
                    <InputSelect class="form-control" @bind-Value="addEmployee.DesignationId"
                                 @bind-Value:after=@(() => ValidateParticularInput(() => addEmployee.DesignationId, nameof(addEmployee.DesignationId), "Select designation"))>
                        <option value="">Select designation</option>
                        @foreach (var des in designations)
                        {
                            <option value="@des.Id">@des.Name</option>
                        }
                    </InputSelect>
                    </div>
                    @if(userRole=="Admin")
                    {
                    <div>
                        <button type="button" class="btn-create" @onclick="OpenDesignationModal">+</button>
                    </div>
                    }
                    <ValidationMessage For="() => addEmployee.DesignationId" />
                        </div>
                </div>
           
            </div>
             <div class="form-row">
            <!-- Joining Date -->
            <div class="form-group">
                <label>Joining Date <span class="text-danger">*</span></label>
                <InputDate class="form-control" @bind-Value="addEmployee.JoiningDate" 
                               @bind-Value:after=@(() => ValidateParticularInput(() => addEmployee.JoiningDate, nameof(addEmployee.JoiningDate), "JoiningDate is Required")) />
                    <ValidationMessage For="() => addEmployee.JoiningDate" />
            </div>

                <div class="form-group image-group">
                    <label>Profile</label>

                    <div class="image-container">
                        <div class="image-preview-wrapper">
                            @if (!string.IsNullOrEmpty(addEmployee.ImageUrl))
                            {
                                <img src="@addEmployee.ImageUrl" class="preview-img" />
                            }
                            else
                            {
                                <div class="placeholder">No Image</div>
                            }
                        </div>

                        <InputFile OnChange="HandleImageUpload" class="file-input" />
                    </div>
                </div>
           
            </div>
    @*          <div class="image-section">
        <label>Profile</label>

        <InputFile OnChange="HandleImageUpload" />

        @if (!string.IsNullOrEmpty(addEmployee.ImageUrl))
        {
            <img src="@addEmployee.ImageUrl" class="preview-img" />
        }
        else
        {
            <div class="placeholder">No Image</div>
        }
    </div> *@
            

            <!-- Buttons -->
            <div class="modal-actions">
                <button type="button" class="btn-cancel" @onclick="Close">Cancel</button>
                <button type="submit" class="btn-create">Create</button>
            </div>

        </EditForm>
    </div>
</div>
@if (showDepartmentModal)
{
    <div class="modal-overlay">
        <div class="modal-box" style="width:400px;">

            <h5>Add Department<span class="text-danger">*</span></h5>

            <EditForm Model="department" OnValidSubmit="SaveDepartment">
                <DataAnnotationsValidator />
              

                <InputText class="form-control"
                           @bind-Value="department.Name"
                           placeholder="Enter department name" />

                <ValidationMessage For="() => department.Name" />

                <div class="modal-actions">
                    <button type="button" class="btn-cancel" @onclick="CloseDepartmentModal">Cancel</button>
                    <button type="submit" class="btn-create">Save</button>
                </div>
            </EditForm>

        </div>
    </div>
}
@if (showDesignationModal)
{
    <div class="modal-overlay">
        <div class="modal-box" style="width:400px;">

            <h5>Add Designation<span class="text-danger">*</span></h5>

            <EditForm Model="designation" OnValidSubmit="SaveDesignation">
                <DataAnnotationsValidator />


                <InputText class="form-control"
                           @bind-Value="designation.Name"
                           placeholder="Enter designation name" />

                <ValidationMessage For="() => designation.Name" />

                <div class="modal-actions">
                    <button type="button" class="btn-cancel" @onclick="CloseDesignationModal">Cancel</button>
                    <button type="submit" class="btn-create">Save</button>
                </div>
            </EditForm>

        </div>
    </div>
}
@code {
    private int step = 1;

    [Parameter] 
    public string? userRole{ get; set; }

    private AddEmployeeDto addEmployee = new();

    private DepartmentDto department = new();
    private List<DepartmentDto> departments =new();

    private DesignationDto designation = new();

    private List<DesignationDto> designations = new();

    private List<EmployeeDto> managers = new();
    private List<RolesDto> roles = new();

    public EditContext editContextEmployee{ get; set; }
    public ValidationMessageStore messageStoreEmployee { get; set; }
    public bool showDepartmentModal = false;
    public bool showDesignationModal = false;



    [Parameter]
    public EventCallback OnClose { get; set; }

    [Parameter]
    public EventCallback OnSaved { get; set; }


    protected override async Task OnInitializedAsync()
    {

        editContextEmployee=new EditContext(addEmployee);
        messageStoreEmployee = new ValidationMessageStore(editContextEmployee);
        departments=await _department.GetDepartment();
        designations = await _department.GetDesignation();
        managers=await _employeeService.GetManagers();
        roles = await _employeeService.GetAllRolesAsync();

    }
    private async Task HandleImageUpload(InputFileChangeEventArgs e)
    {
        var file = e.File;
        addEmployee.ImageFile = file;

        // Optional preview (temporary)
        using var stream = file.OpenReadStream(5 * 1024 * 1024);
        using var ms = new MemoryStream();
        await stream.CopyToAsync(ms);


        var buffer = ms.ToArray();

        // var buffer = new byte[file.Size];
        // await file.OpenReadStream().ReadAsync(buffer);

        addEmployee.ImageUrl =
            $"data:{file.ContentType};base64,{Convert.ToBase64String(buffer)}";
    }
    private async Task<string> SaveFile(IBrowserFile file)
    {
        var fileName = Guid.NewGuid() + Path.GetExtension(file.Name);

        var folder = Path.Combine(Directory.GetCurrentDirectory(), "wwwroot", "images");

        if (!Directory.Exists(folder))
            Directory.CreateDirectory(folder);

        var path = Path.Combine(folder, fileName);

        using var stream = new FileStream(path, FileMode.Create);
        await file.OpenReadStream(5 * 1024 * 1024).CopyToAsync(stream);

        return "/images/" + fileName;
    }
    private async Task<bool> ValidateCurrentStep()
    {
        messageStoreEmployee.Clear();

        // ✔ Validation trigger only when both are empty

        Require(() => addEmployee.FirstName, nameof(addEmployee.FirstName), "First Name is required");
        Require(() => addEmployee.Phone, nameof(addEmployee.Phone), "Phone Number is required");
        Require(() => addEmployee.Role, nameof(addEmployee.Role), "Select Role");
        if (addEmployee.Role == "Employee")
        {
            Require(() => addEmployee.ManagerId, nameof(addEmployee.ManagerId), "Manager is required");
        }
        Require(() => addEmployee.Address, nameof(addEmployee.Address), "Address is required");
        Require(() => addEmployee.DepartmentId, nameof(addEmployee.DepartmentId), "Select Department");
        Require(() => addEmployee.DesignationId, nameof(addEmployee.DesignationId), "Select Designation");
        Require(() => addEmployee.JoiningDate, nameof(addEmployee.JoiningDate), "Joining Date is Required");




        // Notify UI about validation changes
        editContextEmployee.NotifyValidationStateChanged();

        // Get current validation messages (optional: for logging)
        var errors = editContextEmployee.GetValidationMessages().ToList();

        // Check if form is valid
        bool isValid = !editContextEmployee.GetValidationMessages().Any();

        // Return validity
        return isValid;

    }
    private void Require<T>(Expression<Func<T>> accessor, string fieldName, string message)
    {
        var value = accessor.Compile().Invoke();
        var fieldIdentifier = new FieldIdentifier(addEmployee, fieldName);

        // Clear old message first
        messageStoreEmployee.Clear(fieldIdentifier);

        // Add message if invalid
        bool isEmpty = value == null ||
                       (value is string s && string.IsNullOrWhiteSpace(s)) ||
                       (value is Guid g && g == Guid.Empty);

        if (isEmpty)
        {
            messageStoreEmployee.Add(fieldIdentifier, message);
        }

        editContextEmployee.NotifyFieldChanged(fieldIdentifier);
        editContextEmployee.NotifyValidationStateChanged();
    }
    private Task ValidateParticularInput<T>(Expression<Func<T>> accessor, string fieldName, string validationMsg)
    {
        Require(accessor, fieldName, validationMsg);
        editContextEmployee.NotifyValidationStateChanged();
        return Task.CompletedTask;
    }

    public void OpenDepartmentModal()
    {
        showDepartmentModal = true;
    }

    public void CloseDepartmentModal()
    {
        showDepartmentModal = false;
    }
    public void OpenDesignationModal()
    {
        showDesignationModal = true;
    }

    public void CloseDesignationModal()
    {
        showDesignationModal = false;
    }
    private async Task SaveDepartment()
    {
        if (userRole != "Admin")
            return;
        spinnerService.Show();
        await Task.Delay(500);
        var created = await _department.AddDepartmentAsync(department);


        departments = await _department.GetDepartment();


        addEmployee.DepartmentId = created.Id;

        showDepartmentModal = false;

        spinnerService.Hide();
    }

    private async Task SaveDesignation()
    {
        if (userRole != "Admin")
            return;

        spinnerService.Show();
        await Task.Delay(500);

        var created = await _department.AddDesignationAsync(designation);


        designations = await _department.GetDesignation();


        addEmployee.DesignationId = created.Id;

        showDesignationModal = false;

        spinnerService.Hide();
    }
    public async Task Save()
    {
        if (!await ValidateCurrentStep()) return;
        spinnerService.Show();
        await Task.Delay(500);
        if (addEmployee.ImageFile != null)
        {
            addEmployee.ImageUrl = await SaveFile(addEmployee.ImageFile);
        }
        addEmployee.UserName = addEmployee.FirstName;
        addEmployee.UserEmail = addEmployee.FirstName.ToLower() + "@gmail.com";
        addEmployee.Password = "Abcd@123";

        await _employeeService.AddEmployeeAsync(addEmployee);

        await OnSaved.InvokeAsync();
        await OnClose.InvokeAsync();
        spinnerService.Hide();
    }

   public async Task Close()
    {
        await OnClose.InvokeAsync();
    }
}

