@page "/employeelist"
@using Application.Dtos

@rendermode InteractiveServer
@using Application.Interfaces.IRepository
@using Application.Interfaces.IService
@using System.Security.Claims

@using EmployeePortal.Services
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@using static Domain.Enums.Step

@inject AuthenticationStateProvider AuthStateProvider
@inject IEmployeeService _employeeService
@inject SpinnerService spinner
@inject IEmployeeRepository _employeeRepository
@inject IJSRuntime JS
@inject IAttendanceService _attendanceService


<style>
    .employee-img {
        width: 40px;
        height: 40px;
        border-radius: 50%; /* makes it circular */
        object-fit: cover; /* prevents stretching */
        border: 2px solid #ddd;
    }

    .modal-overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0,0,0,0.4);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2000;
    }
    .stat-card {
        height: 100%;
    }

        .stat-card .card-body {
            min-height: 110px;
        }
        .btn.btn-add:hover{
        
        background-color: #3b536b !important;
        color: white;
        }
  
    .pagination .page-link {
        color: #2c3e50;
        border-radius: 1px;
        transition: all 0.2s ease;
    }

      
        .pagination .page-link:hover {
            background-color: #2c3e50;
            color: white;
            border-color: #2c3e50;
        }

  
    .pagination .page-item.active .page-link {
        background-color: #2c3e50;
        border-color: #2c3e50;
        color: white;
    }

    
    .pagination .page-item.disabled .page-link {
        color: #aaa;
        pointer-events: none;
        background-color: #f8f9fa;
    }

    .table td, .table th {
        white-space: nowrap;
        vertical-align: middle;
    }

    .table-responsive {
        overflow-x: auto;
       
    }
</style>

<div class=container-fluid mt-3 mb-4 >
    <div class="card shadow border-0 rounded-4 overflow-hidden">
        <div  class="card-body p-0">


            <div class="px-4 px-3 mt-3 d-flex justify-content-between  align-items-center ">
                <h3 class="fw-bold mb-2" style="color:#2c3e50;">Employees Management</h3>

                @if (role == "Admin" || role == "Manager")
                {
                    <div class="d-flex align-items-center  justify-content-between">
                        <div class="position-relative mx-4">
                            <input class="form-control pe-5 shadow-sm"
                            placeholder="search tasks.."
                            @bind="searchTerm"
                            style=" background-color: #f1f3f4;
                   border-radius: 12px;
                   border: 1px solid #ddd;"
                            @oninput="@(async e => await SearchTasks(e))" />

                            <span class="position-absolute top-50 end-0 translate-middle-y me-3 text-muted">
                                <i class="bi bi-search"></i>
                            </span>
                        </div>
                        <button class="btn btn-add btn-sm px-3 shadow-sm d-flex align-items-center " style="border-radius: 8px; height:40px; background-color:#2c3e50; color:white;" @onclick="ShowAddEmployeeForm">
                            + Add Employee
                        </button>
                    </div>
                }
            </div>

           
                <div class="container mt-4">
                    <div class="row g-3">
                    @if (role == "Admin" || role=="Manager")
                    {
                        <div class="col-md-3">
                        <div class="card stat-card" style="background-color:#ecf0f1;border-radius:10px;">
                                <div class="card-body">

                         
                    <div class="d-flex justify-content-center align-items-center ">
                                    <i class="fas fa-users fs-3"></i>

                        <h3 class="text-center ms-2">@employeesSummary.TotalEmployees</h3>


                    </div>
                    <h4 class=" mt-2 text-center">Total Employees</h4>
                      </div>
                            </div>
                        </div>
                    
                        <div class="col-md-3">
                            <div class="card stat-card" style="background-color:#ecf0f1;border-radius:10px;">
                                <div class="card-body">


                                    <div class="d-flex justify-content-center align-items-center">
                                        <i class="fas fa-user-check fs-3 "></i>
                                        <h3 class="text-center ms-2">@employeesSummary.Active </h3>


                                    </div>
                                    <h4 class=" mt-2 text-center">Active</h4>
                                </div>
                            </div>
                        </div>
                        @* <div class="col-md-3">
                        <div class="card stat-card" style="background-color:#ecf0f1;border-radius:10px;">
                                <div class="card-body">


                                    <div class="d-flex justify-content-center align-items-center">
                                    <i class="fas fa-clock fs-3"></i>
                                        <h3 class="text-center ms-2">@employeesSummary.OnLeave</h3>


                                    </div>
                                    <h4 class=" mt-2 text-center">On Leave</h4>
                                </div>
                            </div>
                        </div> *@
                        <div class="col-md-3">
                            <div class="card stat-card" style="background-color:#ecf0f1;border-radius:10px;">
                                <div class="card-body">


                                    <div class="d-flex justify-content-center align-items-center">
                                        <i class=" fas fa-user-xmark fs-3"></i>
                                        <h3 class="text-center ms-2">@employeesSummary.InActive</h3>


                                    </div>
                                    <h4 class=" mt-2 text-center">Inactive</h4>
                                </div>
                            </div>
                        </div>
                    }
                    <div class="col-md-3">
    <div class="card stat-card" style="background-color:#ecf0f1;border-radius:10px;">
        <div class="card-body text-center d-flex flex-column justify-content-center align-items-center">

            <div class="d-flex justify-content-center align-items-center gap-1">
                <i class="fas fa-calendar-check fs-3 mb-3"></i>
           

            <h5 class="fw-bold mb-3">Today's Attendance</h5>
                                </div>

            <button class="btn px-3"
                    style="background-color:#2c3e50; color:white; border-radius:8px;"
                    @onclick="MarkMyAttendance"
                    disabled="@isMarked">

                @(isMarked ? "Already Marked" : "Mark Attendance")
            </button>

        </div>
    </div>
</div>
                              
                    </div>
                </div>
                
            <div class="container mt-5">
                <div class="card shadow-sm border-0 px-4  py-3" style="background-color:#ecf0f1;border-radius:10px;">
                    
                        <h5 class="fw-bold mb-0">All Employees</h5>

                    <div class="table-responsive">
                        <table class="table table-hover align-middle  mt-4 ">
                            <thead>
                                <tr>
                                <th style="background-color:#2c3e50;color:white">Sr.No</th>


                                <th class="ps-4" style="background-color:#2c3e50;color:white">Employee</th>
                                <th style="background-color:#2c3e50;color:white">Department</th>
                                  
                                <th style="background-color:#2c3e50;color:white" >Position</th>
                                <th style="background-color:#2c3e50;color:white">Status</th>
                                <th style="background-color:#2c3e50;color:white">Joining Date</th>
                                <th style="background-color:#2c3e50;color:white">Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                         
                         @*       @if (isTasksLoading)
                         {
                                <tr>
                                    <td colspan="5" class="text-center py-4">
                                        <div class="spinner-border text-primary" role="status"></div>
                                        <div class="mt-2 text-secondary">Loading members...</div>
                                    </td>
                                </tr>
          
                             } *@
                           
                           @* else if (pagedTasks == null || !pagedTasks.Any())
                                 {
                                <tr><td colspan="5" class="text-center text-muted py-3">No members found.</td></tr>
                                  }
                                  else *@
                                         @* { *@
                                     
                              
                                @foreach (var (employee ,index) in pagedEmployees.Select((t, i) => (t, (currentPage - 1) * pageSize + i + 1)))
                                {
                                    <tr class="task-row">
                                        
                                    <td class="align-middle text-center">@index</td>
                                    <td class="align-middle">
                                        <div class="d-flex align-items-center gap-2">
                                            <img src="@(string.IsNullOrEmpty(employee.ImageUrl)
                                                                     ? "/images/default-user.png" 
                                                                     : employee.ImageUrl)"
                                                 class="employee-img" />
                                            <span>@employee.Name</span>
                                        </div>
                                    </td>
                                        <td class="align-midddle pt-3">@employee.Department</td>
                                    <td class="align-midddle pt-3">@employee.Designation</td>

                             
                                   
                                    <td class="priority-badge align-middle ">@employee.Status</td>
                                    <td class="align-middle">@employee.JoiningDate.ToString("dd MMM yyyy")</td>
                                   
                                    <td>
                                        @if (role == "Admin" || role == "Manager")
                                        {
                                            <button class="btn btn-sm btn-edit me-2" @onclick="()=>ShowEditEmployeeForm(employee.Id)" > <i class="fas fa-edit "></i></button>
                                            <button class="btn btn-sm btn-delete me-2 "> <i class="fas fa-trash " @onclick="() => ConfirmDelete(employee.Id)"></i></button>
                                        }
                                        <button class="btn btn-sm btn-download " @onclick="() => DownloadEmployee(employee.Id)"> <i class="fas fa-download"></i> </button>

                                        
                                 </td>
                                </tr>
                                
                            }
                            
                                </tbody>
                          </table>
                          </div>

                        </div>

                @if (showDeleteConfirm)
                {
                    <div class="modal-overlay">
                        <div class="modal-content shadow rounded-4 p-4" style="width: 350px; background:white;">

                            <h5 class="fw-bold  mb-3" style="color:#2c3e50;">
                                <i class="fas fa-exclamation-triangle me-2"></i> Confirm Delete
                            </h5>

                            <p class="text-muted">
                                Are you sure you want to delete this employee?
                            </p>

                            <div class="d-flex justify-content-end gap-2 mt-4">
                                <button class="btn btn-secondary btn-sm" @onclick="CloseDeleteModal">
                                    Cancel
                                </button>
                                <button class="btn  btn-sm" @onclick="DeleteConfirmed" style="background-color:#2c3e50;">
                                    Yes, Delete
                                </button>
                            </div>
                        </div>
                    </div>
                }

                <div class="d-flex justify-content-between align-items-center mt-4 pb-2">
                    <small class="text-muted">
                        Showing @(((currentPage - 1) * pageSize) + 1)
                        -
                        @(Math.Min(currentPage * pageSize, totalCount))
                        of @totalCount tasks
                    </small>
                    <div class="d-flex align-items-center gap-3">
                        <div class="d-flex  align-items-center gap-2 ">
                            <label class="text-muted small">Entries per page:</label>

                            <select class="form-select form-select-sm"
                                    style="width: 80px;"
                                    @bind="pageSize"
                                    @bind:after="() => { currentPage = 1; LoadEmployees(); }">
                                <option value="8">8</option>
                                <option value="12">12</option>
                                <option value="18">18</option>
                                <option value="24">24</option>
                            </select>
                        </div>
                        <nav>
                            <ul class="pagination pagination-sm mb-0 shadow-sm">

                                <!-- Previous button -->
                                <li class="page-item @(currentPage == 1 ? "disabled" : "")">
                                    <button class="page-link" @onclick="PreviousPage">Previous</button>
                                </li>


                                @foreach (var i in GetVisiblePages())
                                {
                                    <li class="page-item @(currentPage == i ? "active" : "")">
                                        <button class="page-link" @onclick="() => GoToPage(i)" >@i</button>
                                    </li>
                                }


                                <!-- Next button -->
                                <li class="page-item @(currentPage == TotalPages ? "disabled" : "")">
                                    <button class="page-link" @onclick="NextPage">Next</button>
                                </li>

                            </ul>
                        </nav>
                    </div>
                </div>
                        </div>
                        </div>
                        </div>

                        </div>
 @if(showAddEmployee)
{
    <AddEmployee userRole="@role" OnClose="CloseAddEmployeeForm" OnSaved="ReloadEmployees"/>
}
@if(showEditEmployee)
{
    <EditEmployee  EmployeeId="@EmployeeId" Onclose="CloseEditEmployeeForm" OnSaved="ReloadEmployees"/>
}
<script>
    window.downloadEmployeePdf = async (employee) => {
        const { jsPDF } = window.jspdf;
        const doc = new jsPDF();

        doc.setFontSize(18);
        doc.text("Employee Details", 20, 20);

        let y = 40;

        
        if (employee.image) {
            try {
                const img = await fetch(employee.image)
                    .then(res => res.blob())
                    .then(blob => new Promise(resolve => {
                        const reader = new FileReader();
                        reader.onload = () => resolve(reader.result);
                        reader.readAsDataURL(blob);
                    }));

                doc.addImage(img, "JPEG", 150, 30, 40, 40);
            } catch {}
        }

        doc.setFontSize(12);

        doc.text(`Name: ${employee.name}`, 20, y); y += 10;
        doc.text(`Department: ${employee.department}`, 20, y); y += 10;
        doc.text(`Designation: ${employee.designation}`, 20, y); y += 10;
       
        doc.text(`Joining Date: ${employee.joiningDate}`, 20, y); y += 10;
        doc.text(`Email: ${employee.email}`, 20, y); y += 10;
        doc.text(`Phone: ${employee.phone}`, 20, y); y += 10;

        const splitAddress = doc.splitTextToSize(`Address: ${employee.address}`, 170);
        doc.text(splitAddress, 20, y);

        doc.save(`Employee_${employee.name}.pdf`);
    };
</script>
@code {

    private List<EmployeeDto> pagedEmployees = new();
    private List<EmployeeDto> employee;
    private EmployeesSummary employeesSummary=new();

    private int currentPage = 1;
    private int pageSize = 8;
    private int totalCount = 0;
    private string searchTerm = "";
    private int userId;
    private string role;
    private bool showAddEmployee=false;
    private bool showEditEmployee = false;
    private int EmployeeId;
    private bool showDeleteConfirm = false;
    private int deleteId;
    private bool isMarked = false;
    private AttendanceDto attendance = new();

    protected override async Task OnInitializedAsync()
    {
        spinner.Show();
        await Task.Delay(1000);
        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        var user=authState.User;
        Console.WriteLine(user.Identity.IsAuthenticated);
        Console.WriteLine(user.Identity.AuthenticationType);
        if (user.Identity?.IsAuthenticated == true)
        {
            userId = int.Parse(user.FindFirst(ClaimTypes.NameIdentifier)?.Value ?? "0");
            role = user.FindFirst(ClaimTypes.Role)?.Value;
        }

        Console.WriteLine(user.FindFirst(ClaimTypes.NameIdentifier)?.Value);
        await LoadSummary();
        await CheckAttendance();
        await LoadEmployees();
        spinner.Hide();
    }
    private async Task CheckAttendance()
    {
        isMarked = await _attendanceService.IsMarkedAttendance(userId, DateTime.Today);
    }
    private async Task MarkMyAttendance()
    {
        if (isMarked) return;
        spinner.Show();
        
        attendance.Date = DateTime.Today;
        attendance.CheckInTime = DateTime.Now;
        attendance.Status = AttendanceStatus.Present;
        attendance.Remarks = "present";
        try
        {
            await _attendanceService.MarkAttendance(userId,attendance);


            await LoadSummary();
            await CheckAttendance();
            await LoadEmployees();// refresh UI
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }

        spinner.Hide();
    }
    public async Task LoadSummary()
    {
        employeesSummary= await _employeeService.DashboardSummary(role,userId);
    }
    private void ShowAddEmployeeForm()
    {
        showAddEmployee = true;
    }
    private void ShowEditEmployeeForm(int id)
    {
        EmployeeId = id;
        showEditEmployee = true;
    }
    private void CloseEditEmployeeForm()
    {
        showEditEmployee = false;
    }
    private void CloseAddEmployeeForm()
    {
        showAddEmployee = false;
    }

    private async Task ReloadEmployees()
    {
        await LoadEmployees();
    }
    public async Task LoadEmployees()
    {
        var result = await _employeeService.GetEmployeesByUserRole(userId, role, currentPage, pageSize, searchTerm);
        pagedEmployees = result?.Items ?? new List<EmployeeDto>();
        totalCount = result?.TotalCount ?? 0;
    }

    private async Task GoToPage(int page)
    {
        currentPage = page;
        StateHasChanged();

        await LoadEmployees();
    }

    private int TotalPages => (int)Math.Ceiling((double)totalCount / pageSize);

    private async Task NextPage()
    {
        if (currentPage < TotalPages)
        {
            currentPage++;
            await LoadEmployees();
        }
    }

    private async Task PreviousPage()
    {
        if (currentPage > 1)
        {
            currentPage--;
            await LoadEmployees();
        }
    }
    List<int> GetVisiblePages()
    {
        int maxPagesToShow = 5;
        int start = Math.Max(1, currentPage - 2);
        int end = Math.Min(TotalPages, start + maxPagesToShow - 1);

        return Enumerable.Range(start, end - start + 1).ToList();
    }
    private async Task SearchTasks(ChangeEventArgs e)
    {
        searchTerm = e.Value?.ToString() ?? "";
        currentPage = 1;
        await LoadEmployees();
    }

    public void CloseDeleteModal()
    {
        showDeleteConfirm = false;

    }
    public void ConfirmDelete(int id)
    {
        deleteId=id;
        showDeleteConfirm = true;
    }
    public async Task DeleteConfirmed()
    {
        spinner.Show();

        await _employeeRepository.DeleteEmployeeWithUserAsync(deleteId);

        showDeleteConfirm = false;
        await LoadEmployees();
        spinner.Hide();
    }
    private async Task DownloadEmployee(int id)
    {
        var emp = await _employeeService.GetEmployeeByIdAsync(id);

        if (emp == null)
            return;

        var employeeData = new
        {
            name = emp.Name,
            department = emp.Department,
            designation = emp.Designation,
           
            joiningDate = emp.JoiningDate.ToString("dd MMM yyyy"),
            email = emp.Email,
            phone = emp.Phone,
            address=emp.Address,
            image=emp.ImageUrl
        };

        await JS.InvokeVoidAsync("downloadEmployeePdf", employeeData);
    }


}
